<div id="{$_name}" class="xshop-category-mega-manu">
<link rel="stylesheet" type="text/css" href="epan-components/xShop/templates/css/xshopcategory.css"/>
	<div noofcols="{$no_of_cols}"> </div>
	{$Content}
	<script type="text/javascript">
		$(function(){
			$(".xshop-category-mega-manu  ul").removeClass().addClass("xshop-mega-menu xshop-mega-menu-anim-slide xshop-mega-menu-response-to-stack");
			$(".xshop-category-mega-manu > ul ").addClass('row');
			col = $("#{$_name} > div").attr('noofcols');
			col_class = "col-md-"+(12/col);
			$(".xshop-category-mega-manu > ul > li").addClass(col_class);
		});

		$('.term-list').each(function() {
    var $list = $(this);
    $list.before('<button class="more_less">More</button>')
   $list.find('.term-item:gt(2)').hide();
});


$('.more_less').click(function() {
    var $btn = $(this)
    $btn.next().find('.term-item:gt(2)').slideToggle();    
    $btn.text($btn.text() == 'More' ? 'Less' : 'More');    
});
	</script>
</div>
