<div id='<?$_name?>' class='epan-component-options' component_type="<?$component_type?>">
	<div class="panel-group" id="accordion">
		<div class="xepan-collasp-header component-header">
		 	<div class="panel-heading">
		      	<h3 class="panel-title">
		        	<a data-toggle="collapse" data-parent="#accordion"	 href="#collapse-xshop-product">
						<?$component_type_name?>
		        	</a> 
		      	</h3>
		   	</div>
		 	<div id="collapse-xshop-product" class="panel-collapse collapse">
		      	<div class="panel-body">
		      		<div class='xepan-collasp-header'>
						<table class="table table-condensed table-hover">
						<tr>
							<td>
								Edit CSS 
							</td>
							<td colspan="2">
							<div id="xshop-product-editcss" class="btn btn-default btn-xs">Edit css</div>
							</td>
						</tr>
						<tr>
							<td >
								Select Product
							</td>
							<td colspan="2">
								<select id='xShop-producttype-root'>
								</select>
							</td>
						</tr>
						<tr>
							<td >
								Display Layout
							</td>
							<td colspan="2">
								<div class="btn-group">
				  				<button id="xShop-listbtn" type="button" class="btn btn-default glyphicon glyphicon-th-list btn btn-sm" title="List View"> </button>
				  				<button id="xShop-gridbtn" type="button" class="btn btn-default glyphicon glyphicon-th btn-sm" title="Grid View"> </button>
								<input id="xShop-grid-column" type="number" class="form-control" placeholder="Product in each Row">
								</div>
							</td>
						</tr>
						<tr>
							<td >
								Category Group
							</td>
							<td colspan="2">
								<select id='xshop-product-categorygroup_<?$_id?>'>
								</select>
							</td>
						</tr>
						<tr>
							<td colspan="3">
								show/hide 
							</td>
						</tr>
						<tr>
							<td>
								
							</td>
							<td>
								Product Topbar
							</td>
							<td>
								<input id="xshop_product_topbar" type="checkbox"/>
							</td>
						</tr>
						<tr>
							<td>
								
							</td>
							<td>
								Image Zoom on Click
							</td>
							<td>
								<input id="xshop_product_fancy_box" type="checkbox"/>
							</td>
						</tr>
						
						<tr>
							<td>
								
							</td>
							<td >
								Detail on click
							</td>
							<td>
							 <input id="xshop_product_hover" type="checkbox"/>
							</td>
						</tr>
						<tr>
							<td>
								
							</td>
							<td>
								Detail on Image Click
							</td>
							<td>
								<input id="xshop_product_detail_on_image_click" type="checkbox"/>
							</td>
						</tr>				
						<tr>
							<td>
								
							</td>
							<td >
								Item Detail Subpage
							</td>
							<td>
								<input id="xshop_product_hover_detail_page" type="text"/>
							</td>
						</tr> 

						</table>
					</div>
				</div>
			</div>
		</div>
	</div><br>
	<table>
	<tbody>
		

	</tbody>
	</table>	
	<div><button id='xShopProductServerSide'>Server Side</button></div>
</div>
<script type="text/javascript">
// ========== OPTION TO COMPONENT EFFECT ==============
// 
// $(your_option_html_element).click(function(event,ui){
// 		$(current_selected_component).what to do ???
// }) 
$('#xShopProductServerSide').click(function(event){
	$('#epan-quick-component-options').toggle('slideup');
	$.univ.frameURL('xShop Products','index.php?page=xShop_page_owner_main')
});

$('#xShop-producttype-root').change(function(event) {
	$(current_selected_component).attr('xshop_producttype',$(this).val());
	$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});

$('#xshop-product-categorygroup_<?$_id?>').change(function(event) {
	$(current_selected_component).attr('xshop_product_categorygroup_id',$(this).val());
	$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});

$('#xShop-listbtn').click(function(event) {
	$(current_selected_component).attr('xshop_productlayout','xShop-productlist');
	$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});

$('#xShop-gridbtn').click(function(event) {
	$(current_selected_component).attr('xshop_productlayout','xShop-productgrid');
	$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
	
});
$('#xShop-grid-column').blur(function(event){
	if($(this).val() >= 1 || $(this).val() <= 12){
		$(current_selected_component).attr('xshop-grid-column',$(this).val());
	}else{
		$('#xShop-grid-column').addClass('text-danger alert alert-error');
	}
	$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});

$('#xshop_product_topbar').change(function(event) {
 	if($('#xshop_product_topbar').is(':checked')?$(current_selected_component).attr('xshop_product_topbar','true'):$(current_selected_component).attr('xshop_product_topbar','false'));

 	$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
 });

$('#xshop-product-editcss').click(function(){
	$(this).univ().frameURL('Edit CSS ( xShop Product Display Layout )','index.php?page=xShop_page_productlayoutcss&cut_page=1');
});

$('#xshop_product_fancy_box').change(function(event) {
	if($('#xshop_product_fancy_box').is(':checked')?$(current_selected_component).attr('xshop_product_fancy_box',1):$(current_selected_component).attr('xshop_product_fancy_box',0));	
		
	$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});

$('#xshop_product_hover').change(function(event) {
	if($('#xshop_product_hover').is(':checked')?$(current_selected_component).attr('xshop_product_hover','1'):$(current_selected_component).attr('xshop_product_hover','0'));
	$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});

$('#xshop_product_hover_detail_page').change(function(event){
	$(current_selected_component).attr('xshop_product_hover_detail_page',$(this).val());
	$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});

$('#xshop_product_detail_on_image_click').change(function(event){
	if($('#xshop_product_detail_on_image_click').is(':checked')?$(current_selected_component).attr('xshop_product_detail_on_image_click','1'):$(current_selected_component).attr('xshop_product_detail_on_image_click','0'));
	$(current_selected_component).univ().errorMessage('Save and reload Page to see changes');
});

var <?$component_type?>_options = {
	show: function (){
		// ===== THIS CODE RUNS EVERY TIME YOU DOUBLE CLICK YOUR COMPONENT
		// TO TAKE VALUES FROM COMPONENT AND FILL OPTIONS
		// $(your_option_html_element).text($(current_selected_component).css('border'));
		$.ajax({
				url: 'index.php?page=xShop_page_getproducttype',
				type: 'GET',
				data: {},
				success: function (data) {
					$('#xShop-producttype-root').html(data);
				}
			});

		$.ajax({
				url: 'index.php?page=xEnquiryNSubscription_page_getforms',
				type: 'GET',
				data: {},
				success: function ( data ){
					$('#xshop_product_enquiry_form_no').html(data);
				}
		});
		$.ajax({
				url: 'index.php?page=xShop_page_getcategories',
				type: 'GET',
				data: {},
				success: function (data) {
					$('#xshop-product-categorygroup_<?$_id?>').html(data);
				}
			});

		$('#xshop-product-categorygroup_<?$_id?>').val($(current_selected_component).attr("xshop-product-categorygroup_id"));
		//display selected option into checkbox
		
		$('#xshop_product_topbar').attr('checked',$(current_selected_component).attr("xshop_product_topbar")=='true'?true:false);

		$('#xshop_product_fancy_box').attr('checked',$(current_selected_component).attr("xshop_product_fancy_box")==1?true:false);

		$('#xshop_product_hover').attr('checked',$(current_selected_component).attr("xshop_product_hover")==1?true:false);
		$('#xshop_product_hover_detail_page').val($(current_selected_component).attr('xshop_product_hover_detail_page'));
		
		$('#xShop-producttype-root').val($(
			current_selected_component).attr('xshop_producttype'));

		$('#xshop_product_detail_on_image_click').attr('checked',$(current_selected_component).attr("xshop_product_detail_on_image_click")==1?true:false);
	}	
}
</script>