<div id="{$_name}" class='{$class}'>
	{$choices}

<div class="table-responsive">
	<table class="table">
<!-- 		<thead>
			<tr><th>#</th>
				<th>Image</th>
				<th>Item</th>
				<th>QTY</th>
				<th>PRICE</th>
				<th>DELIVERY DETAILS</th>
				<th>SUBTOTAL</th>
				<th>Remove</th>
			</tr>
		</thead> -->
		<tbody>
			<tr>
				<td>1</td>
				<td class="col-md-1"><img width="100%" src="{xshop_item_image}{/xshop_item_image}" class="thumbnail"/></td>
				<td class="col-md-3"><!-- id={$id} --><!-- <h4>{$item_id}</h4> -->{$item_code}{$item_name}</td>
				<td class="col-md-1">{$qty}</td>
				<td class="col-md-2">Rate</td>
				<td class="col-md-2">SubTotal</td>
				<td class="col-md-2">Delivery Detail</td>
				<td class="col-md-1"><button class="btn btn-info btn-sm"  style="margin-top:25px;margin-left:-99px" onclick='javascript:$(this).univ().ajaxec("index.php?page=xShop_page_ajaxhandler_removecartitem&cartitem_id={$id}&task=page_removecartitem")'>Remove</button></td>
			</tr>
		</tbody>	
	</table>
</div>
	
	{$Content}			
</div>