<!-- <?id?><?/id?> -->
<div class="row">
	<div class="col-md-3 col-sm-3">
		Name
	</div>
	<div class="col-md-9 col-sm-9">
		<?$name?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Supplier
	</div>
	<div class="col-md-9 col-sm-9">	
		<?$supplier_id?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Manufacturer
	</div>
	<div class="col-md-9 col-sm-9">
		<?$manufacturer_id?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Code
	</div>
	<div class="col-md-9 col-sm-9">
		<?$sku?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Short Description
	</div>
	<div class="col-md-9 col-sm-9">
		<?$short_description_html?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Description
	</div>
	<div class="col-md-9 col-sm-9">
		<?$description_html?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Original Price
	</div>
	<div class="col-md-9 col-sm-9">	
		<?$original_price?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Sale Price
	</div>
	<div class="col-md-9 col-sm-9">		
		<?$sale_price?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Created At
	</div>
	<div class="col-md-9 col-sm-9">
		<?$created_at?>	
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Expire Date
	</div>
	<div class="col-md-9 col-sm-9">
		<?$expiry_date?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Meta Title
	</div>
	<div class="col-md-9 col-sm-9">
		<?$meta_title?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Meta Description
	</div>
	<div class="col-md-9 col-sm-9">
		<?$meta_description?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Rank Weight
	</div>
	<div class="col-md-9 col-sm-9">
		<?$rank_weight?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Tags
	</div>
	<div class="col-md-9 col-sm-9">
		<?$tags?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		allow Comment
	</div>
	<div class="col-md-9 col-sm-9">
		<?$allow_comments?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
	 	Allow Attachment 
	</div>
	<div class="col-md-9 col-sm-9">
		<?$allow_attachment?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Comment System Api
	</div>
	<div class="col-md-9 col-sm-9">
		<?$comment_api?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Show Offer
	</div>
	<div class="col-md-9 col-sm-9">
		<?$show_offer?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Show Detail
	</div>
	<div class="col-md-9 col-sm-9">
		<?$show_detail?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Allow Enquiry
	</div>
	<div class="col-md-9 col-sm-9">
		<?$allow_enquiry?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Allow Saleable
	</div>
	<div class="col-md-9 col-sm-9">
		<?$allow_saleable?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Show Price
	</div>
	<div class="col-md-9 col-sm-9">
		<?$show_price?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Show Manufacturer Detail
	</div>
	<div class="col-md-9 col-sm-9">
		<?$show_manufacturer_detail?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Show Supplier Detail
	</div>
	<div class="col-md-9 col-sm-9">
		<?$show_supplier_detail?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Add Custom Button
	</div>
	<div class="col-md-9 col-sm-9">
		<?$add_custom_button?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Custom Button Text
	</div>
	<div class="col-md-9 col-sm-9">
		<?$custom_button_text?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Custom Button URL
	</div>
	<div class="col-md-9 col-sm-9">
		<?$custom_button_url?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Enquiry Send to Self
	</div>
	<div class="col-md-9 col-sm-9">	
	<?$enquiry_send_to_self?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Enquiry Send to supplier
	</div>
	<div class="col-md-9 col-sm-9">
		<?$enquiry_send_to_supplier?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Enquiry send to manufacturer
	</div>
	<div class="col-md-9 col-sm-9">	
		<?$enquiry_send_to_manufacturer?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Product Enquiry Auto Reply
	</div>
	<div class="col-md-9 col-sm-9">
		<?$product_enquiry_auto_reply?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Publish
	</div>
	<div class="col-md-9 col-sm-9">
		<?$is_publish?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Marked New
	</div>
	<div class="col-md-9 col-sm-9">
		<?$new?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Marked Featured
	</div>
	<div class="col-md-9 col-sm-9">
		<?$feature?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Mark Latest
	</div>
	<div class="col-md-9 col-sm-9">
		<?$latest?>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-3">
		Marked Most Viewed
	</div>
	<div class="col-md-9 col-sm-9">
		<?$mostviewed?>
	</div>
</div>