<div id="{$_name}" class='{$class}'>
	{$choices}

<div class="table-responsive">
	<table class="table table-hover">
<!-- 		<thead>
			<tr><th>#</th>
				<th>Image</th>
				<th>Item</th>
				<th>QTY</th>
				<th>PRICE</th>
				<th>DELIVERY DETAILS</th>
				<th>SUBTOTAL</th>
				<th>Remove</th>
			</tr>
		</thead> -->
		<tbody>
			<tr class="xshop-cart-item-row">
				{$sno}
				{$image}
				<td class="xshop-cart-item-code col-md-1"><!-- id={$id} --><!-- <h4>{$item_id}</h4> -->{$item_code}</td>
				{$name}
				{qty_rate}
				<td class="xshop-cart-item-qty col-md-2">{$qty}</td>
				{/qty_rate}
				{$delivery_detail}
				{$subtotal}
				{remove}
				<td class="xshop-cart-item-remove col-md-1"><button class="xshop-cart-item-remove-btn" onclick='javascript:$(this).univ().ajaxec("index.php?page=xShop_page_ajaxhandler_removecartitem&cartitem_id={$id}&task=page_removecartitem")'>X</button></td>
				{/remove}
			</tr>
		</tbody>	
	</table>
</div>
	
	{$Content}			
</div>