.sky-mega-menu{
	box-shadow: none;
}
.sky-menu-thumbnail-name{
	width: 100%;
	text-align: center;
}
.sky-mega-menu li{
	border: 0;
	width: 200px;
	height:200px;

}
	
.sky-mega-menu li img{
	max-width: 100%;
	max-height: 200px;
}