<p>Dear Deshvikas Customer, </p>

<h4>You just got an enquiry from deshvikas.org</h4>

<p>
	Congratulations!!! You got an enquiry. Please hurry up and reply to your enquiry. 

	<h4>DO NOT REPLY TO THIS EMAIL.</h4>

	<h2>The Form Entries are as follows:</h2>

	<?$custome_form?>
	
	
	<blockquote>
		Regards <br><br>

		Xavoc Technocrats Pvt. Ltd.. <br>
		<h4>powered by : <a href='http://www.xavoc.com'>XavocTechnocrats Pvt. Ltd.</a></h4>
	</blockquote>
	<hr/>
	<small>
		Disclaimer: your disclamer
	</small>
</p>